<div class="p-6 space-y-4 sm:p-8">
  <p style="color: green"><%= notice %></p>

  <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">Devices & Sessions</h1>

  <div id="sessions">
    <% @sessions.each do |session| %>
      <div id="<%= dom_id session %>">
        <p>
          <strong>User Agent:</strong>
          <%= session.user_agent %>
        </p>

        <p>
          <strong>Ip Address:</strong>
          <%= session.ip_address %>
        </p>

        <p>
          <strong>Created at:</strong>
          <%= session.created_at %>
        </p>

      </div>
    <% end %>
  </div>
</div>



