<p style="color: red"><%= alert %></p>

<div class="p-6 space-y-4 sm:p-8">
  <% if Current.user.verified? %>
    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
        Change Your Email
    </h1>
  <% else %>
    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
        Verify Your Email
    </h1>
    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
      We sent a verification email to the address below. Check that email and follow those instructions to confirm it's your email address.
    </p>
  <% end %>

  <%= form_with(url: identity_email_path, method: :patch) do |form| %>
    <% if @user.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
        <label class="block mb-2 text-sm font-medium text-gray-900">Email</label>
        <%= form.text_field :email, required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div> 
    <br>
    <div>
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Current password</label>
        <%= form.password_field :current_password, required: true, autocomplete: "current-password", class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div> 
    <br>
    <div>
      <%= form.submit "Save Changes", class: "bg-gray-100 hover:bg-blue-200 hover:font-semibold border border-gray-300 sm:text-sm rounded-lg block w-full p-2.5" %>
    </div>
    <br>
    <p class="text-sm font-bold text-gray-500 dark:text-gray-400">
      <%= button_to "Click here to resend verification email", identity_email_verification_path, class: "w-full" %>
    </p>    
  <% end %>
  <br>
  <p class="text-sm font-bold text-gray-500 dark:text-gray-400">
    <%= link_to "< Back", root_path %>
  </p>
</div>